body
{
    background-image: url(pic.jpg);
}


#stl{
  position: fixed;
  bottom: 48px;
  right: 48px;
}

    #stl button {

      margin: 50px 840px 360px 1000px;
      overflow: hidden;
      height: 120px;
      width: 120px;

      border: none;
      outline: none;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6);


      transition: width 0.5s;
     border-radius: 150px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    #stl2 {
      margin: 50px 700px 600px 870px;
    }

    #stl3{

      bottom: 48px;
      right: 48px;
    margin: 400px 800px 700px 862px;

    }
